html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure content fits the viewport width */
  box-sizing: border-box;
}

.grid {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 0; /* Remove gaps between rows and columns */
  width: 100vw; /* Full width of the viewport */
  height: calc(20 * 20px); /* Ensure 20 rows of 20px height */
}

.grid > div {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.buttons > button {
  margin: 10px;
  color: black;
  background-color: #e6e7e8;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f1f2;
  width: 100vw;
}

.grid > div.isStart {
  background-color: green;
}

.grid > div.isEnd {
  background-color: red;
}

.grid > div.isWall {
  background-color: black;
}

.grid > div.isVisited {
  background-color: lightblue;
}

.grid > div.isFrontier {
  background-color: yellow;
}

.grid > div.isPath {
  background-color: purple;
}
